@import "../../node_modules/mappy-breakpoints/mappy-breakpoints";
@import "defaults.scss";
@import "portfolio.scss";

.social-media-icons {
	font-size: 16px;
	padding: 1vw;
	background: $nav-color;
	border-radius: 25px;
	position: fixed;
	top: 50vh;
	right: $padding-m;
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
	justify-content: center;
    align-items: center;

	@include mappy-bp (max-width 767px) {
		margin: 4vw auto;
		position: inherit;
		flex-direction: row;
		width: fit-content;
	}
}

.social-icon {
	font-weight: 600;
	writing-mode: horizontal-tb;
	color: $light;
	padding: 1vw; 
	border-radius: 25px;
	width: fit-content;
	height: auto;
	background: $button-color;
	font-size: 24px;
	&:hover {background:$button-hover;}
	@include mappy-bp (max-width 767px) {margin: 0 1vw;}
}

#menu {
	text-align: center;
	padding: 5% 5% 0 5%;
}

.first-image {
	margin-top: 5em;
	@include mappy-bp (max-width 1023px) {margin-top: 15%;}
	@include mappy-bp (max-width 453px) {margin-top: 2em;}
}

label {
	margin: 1vw 0;
	@include mappy-bp (max-width 767px) {width: 100%;}
}

input, textarea {
	color: $button-hover;
	border: 1px solid transparent;
	border-radius: 20px;
	width: 30vw;
	font-family: inherit;
	font-size: inherit;

	@include mappy-bp (max-width 1260px) {width: 60%;}
	@include mappy-bp (max-width 767px) {width: 80%;}
}

input {
	height: auto; 
	text-align: center;
}

form p {
	margin: 1vw 0;
	@include mappy-bp (max-width 453px) {margin: 4vw 0;}
}

#submit {
	margin: 1vw 0;
	font-family: $wrraper-font;
	background-color: $button-color;
	border-radius: 25px;
	color: $light;
	cursor: pointer;
	padding: 10px;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 0 auto;

	&:hover { background: $button-hover;}
}

h2 { font-size: 30px;}

#contact1 {
	@include mappy-bp (max-width 767px) {
	text-align: center;
	align-content: center;
	}
}

.form-message {
	color: $button-hover;
	width: 30vw;
	font-family: inherit;
	font-size: inherit;
	margin: 1vw 0;
	height: 40px;
	@include mappy-bp (max-width 1260px) {width: 60%;}
	@include mappy-bp (max-width 767px) {width: 80%;}
}

