@import "../../node_modules/mappy-breakpoints/mappy-breakpoints";
@import "defaults.scss";
@import "portfolio.scss";

.social-media-icons {
	font-size: 16px;
	color: $button-font-color;
	padding: 1vw;
	background: $nav-color;
	border-radius: 25px;
	position: fixed;
	top: 50vh;
	right: $padding-m;
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
	justify-content: center;
    align-items: center;

	@include mappy-bp (max-width 767px) {
		margin: 4vw auto;
		position: inherit;
		flex-direction: row;
		width: fit-content;
		flex-wrap: wrap;
	}
}

.social-icon {
	width: 55px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	@include mappy-bp (max-width 767px) {margin: 0 1vw;}
	@include mappy-bp (max-width 453px) {margin: 0 3vw;}
}

.email,
.github,
.linkedin {
	img:hover {
		height:-webkit-fill-available;}
}

#menu {
	text-align: center;
	padding: 5% 5% 0 5%;
}


.deco-image {
width: 100%;

img {width: 65%;}
}

.first-image {
	padding-top: 5em;
	background: linear-gradient(180deg, #f4d68e 46%, #d1e4bd 88%);
	@include mappy-bp (max-width 1023px) {padding-top: 15%;}
	@include mappy-bp (max-width 453px) {padding-top: 2em;}
}

label {
	margin: 1vw 0;
	@include mappy-bp (max-width 767px) {width: 100%;}
}

input, textarea {
	color: $dark;
	border: 1px solid transparent;
	border-radius: 20px;
	width: 30vw;
	font-family: inherit;
	font-size: inherit;

	@include mappy-bp (max-width 1260px) {width: 60%;}
	@include mappy-bp (max-width 767px) {width: 80%;}
}

input {
	height: auto; 
	text-align: center;
}

form p {
	margin: 1vw 0;
	@include mappy-bp (max-width 453px) {margin: 4vw 0;}
}

#submit {
	margin: 1vw 0;
	font-family: $wrraper-font;
	background-color: $nav-color;
	color: $button-font-color;
	border: 1px solid $button-font-color;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 0 auto;

	&:hover { color: $body-color;}
}

#contact1 {
	@include mappy-bp (max-width 767px) {
	text-align: center;
	align-content: center;
	}
}

.form-message {
	width: 30vw;
	margin: 1vw 0;
	height: 50px;
	font-size: $main-font-size;
	text-align: center;
	font-family: $wrraper-font;
	@include mappy-bp (max-width 1260px) {width: 60%;}
	@include mappy-bp (max-width 767px) {width: 80%;}
}

