//Colors
$body-color: #6D9267;
$wrraper-color: #d1e4bd;
$dark: #000;
$light: #fff;
$nav-color: #fffaee;
$linkedin-color: #597dbb;
$linkedin-hover: #0040ad;
$h2-color: #33691e;
$button-font-color: #835531;
$error-color: #f25f5f;
$mango-color: #f4d68e;

//Fonts
$wrraper-font: 'Dekko', cursive;
$main-font-size: 24px;
$font-m: 30px;
$font-l: 40px;

//Padings
$padding-m: 5%;
$padding-l: 10%;
