@charset "utf-8";

body {background-color: #6D9267;}

#wrraper {
	width: 90%;
	font-family: 'Hannotate SC';
	color: #000;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: #d1e4bd;
	}	

#first-nav {
background-color: #FFFAEE;
padding-bottom: .5%;
width: 100%;
overflow: hidden;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
position:fixed;
top: -15px;
left: 0;
justify-content: center;
z-index: 1;
box-shadow: 0 0 3px #6D9267;
}
#first-nav h3:hover {
	color: #000; 
	text-shadow: 1px 1px 1px #6D9267;
}


.meny-images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

	header {
	display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
	}

#textheader {
	font-weight: 700;
	text-align: center;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;

	h1 {
		color: #0040ad;
		font-family: 'Inspiration', cursive; 
		font-size: 200%;
	}

	p {
		font-weight: 100;
		color: #062f75;
		font-size: 30px; 
		margin-top:1%;}
}

#meny img { 
	margin: 1vw;
	border-radius:5%;
}

.bottom {
			cursor: pointer;
			width: 33%;
			height: 85px;
			text-align: center;
			position: relative;
			background-image: url(../images/podloga12.svg);
			background-repeat: no-repeat;
			background-size: auto;
			background-position: bottom;
			font-size: 30px;
		} 

.bottom h3{
		margin: 0;
		position: absolute;
		top: 47%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%)
	}

.bottom:hover { 
  animation: shake 0.6s infinite;
  animation-timing-function: linear; color:aliceblue;  
}
.navigation h3:hover {color:#fff;}

@keyframes shake {
  0% { transform: rotate(0.5deg); }
   25% { transform: rotate(1.5deg); }
  50% { transform: rotate(-1.5deg); }
   75% { transform: rotate(-2.5deg); }
  100% { transform: rotate(-1.5deg); }
}

a {
	color: #000;
	text-decoration: none;
}
	
.ukrasnaslika {
			width: 100%;
			display: inline-flex;
		}

.ukrasnaslika img {
			width: 80%;
			margin: auto auto;
				
	}
#aboutobjasnjenje {padding-top: 10%;}

#aboutobjasnjenje img {
			float: right;
			border-radius: 50%;
			width: 30%;
			height: 30%;
		}

footer {
	margin-top: 5%;
	background-color: #FFFAEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15vh;
	overflow: hidden;
	font-size: 25px;
	text-align: center;
		}

h2 { 
	color: #0040ad;
	font-weight: 600;
}	

	@media screen and (min-width:1024px) and (max-width:1260px) {

 h1 {
	text-align: center;
	vertical-align: middle;
}

.navigation {width:960px;}
.ukrasnaslika img {width:100%;}

#textheader {
	font-weight: 700;
	text-align: center;
	font-size: 50px;
	height: auto;
	width: 100%;
	margin-bottom: 2.5% auto;
}
#meny img {width: 400px; margin: 1vw;}

a {	
		color: #000;
		text-decoration: none;}
}

@media screen and (min-width:768px) and (max-width:1023px) {

a {	
	color: #000;
	text-decoration: none;
}

#textheader {
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}
 
.objasnjenje {
		 float: none;
		 width: 100%;
		padding-top: 100px;
			}

.ukrasnaslika img {width:100%;}	
}

@media screen and (min-width:454px) and (max-width:767px) {

 #wrraper {font-size:20px;}

 #first-nav .bottom h3 {font-size: 30px;}

	#first-nav .bottom {
		width: 100%;
		background-size: 27%;
	}

.ukrasnaslika img {width:100%;}

		.container {
			background-color: #FFFAEE;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 6px;
			border-radius: 50px;
			width: 60px;
			height: 60px;
			cursor: pointer;
			margin: 1%;
			position: fixed;
			right: 5%;
			z-index: 2;
		  }
		  
		  .bar1, .bar2, .bar3 {
			width: 35px;
			height: 5px;
			border-radius: 50px;
			background-color: #78AB46;
			border: 1px solid #000;
			transition: 0.4s;
		  }
		  
		  .change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 6px);
			transform: rotate(-45deg) translate(-12px, 6px);
		  }
		  
		  .change .bar2 {opacity: 0;}
		  
		  .change .bar3 {
			-webkit-transform: rotate(45deg) translate(-8px, -8px);
			transform: rotate(45deg) translate(-9px, -8px);
		  }


		  #first-nav.visible {
			background-color: #FFFAEE;
			height: 50vh;
			flex-direction: column;
			row-gap: 40px;
			position: fixed;
			top: 0;
			z-index: 1;
			width: 90%;
			justify-content: center;
			border-radius: 0 0 50px 0;
			display: flex;
			left: 5%;
			align-items: center;
    		align-content: center;

			h3:hover { color:#000 ; }
		}

		#first-nav{display: none;}
		
.bottom {
			background-size: 70%;
			margin-left: auto;
			margin-right: auto;
			}

.bottom h3 {top: 40%;}

a {		
	color: #000;
	text-decoration: none;
}

#meny img {
		width: 100%;
		display: block;
		margin: 2vw 0;
		  }

.objasnjenje {
		 float:none;
		 width:100%;
			}

 #many {width:90%;}	

#textheader {
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}	
}

#works {	
width: 100%;
overflow: hidden;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
	}

#meny {
	font-size: 30px;
	padding: 40px;
	}	

#sidebar {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin: 5% auto;
	background-color: #FFFAEE;
	overflow-wrap: anywhere;
	height: auto;
	border-radius: 0 150px 150px 0;
	font-size: 30px;
	padding: 0 5% 0;
	overflow: hidden;
		}
			#workobjasnjenje {
				padding-bottom: 10%;
				text-align: start;
			}

.ukrasnaslika{
		clear:both;
		align-content: center;
		}


.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}
.fancybox-title-over-wrap > div {padding: 10px;	}

@media screen and (max-width:453px) {

#first-nav .bottom h3 {font-size: 30px;}

	#first-nav .bottom {
		width: 100%;
		background-size: 35%;}

	.container {
		background-color: #FFFAEE;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 6px;
		border-radius: 50px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		margin: 1%;
		position: fixed;
		right: 5%;
		z-index: 2;
	  }
	  
	  .bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		border-radius: 50px;
		background-color: #78AB46;
		border: 1px solid #000;
		transition: 0.4s;
	  }
	  
	  .change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-12px, 6px);
	  }
	  
	  .change .bar2 {opacity: 0;}
	  
	  .change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-9px, -8px);
	  }


	  #first-nav.visible {
		background-color: #FFFAEE;
		height: 50vh;
		flex-direction: column;
		row-gap: 40px;
		position: fixed;
		top: 0;
		z-index: 1;
		width: 90%;
		justify-content: center;
		border-radius: 0 0 50px 0;
		display: flex;
		left: 5%;
		align-items: center;
		align-content: center;

		h3:hover { color:#fff ; }

	}
	#first-nav {display: none;}

	.bottom { 
		width: 100%;
		font-size: 30px;
		background-size: 35%;
		margin-left: auto;
		margin-right: auto;
	}

	#meny img {
		margin: 1vw 0;
		width: 100%;
	}

#works {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
	
a {
	color: #000;
	text-decoration: none;
	}

	
#headerimageup {margin-top:30%;}
	
#wrraper {
  font-size: 15px;
  width: 94%;
 }
 
 #sidebar {padding: 10% 5%;}
.ukrasnaslika img {width:100%;}

#textheader {
	font-weight: 700;
	text-align: center;
	font-size: 30px;
	height: auto;
	width: 100%;
	margin-top: 2.5% auto;
}
#meny {padding:5%;}			

.objasnjenje {
	float: none;
	width: 100%;
	padding-bottom: 5%;
			}				
}

@media screen and (max-width:300px) {
	#sidebar {padding: 36% 5%;}
}