@import "../../node_modules/mappy-breakpoints/mappy-breakpoints";
@import "defaults.scss";

body {background-color: $body-color;}

#wrraper {
	width: 90%;
	font-family: $wrraper-font;
	color: $dark;
	font-size: $main-font-size; 
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: $wrraper-color;
	@include mappy-bp (max-width 453px) {width: 94%;}
	}	

	.text-medium {font-size: $font-m;}
	.text-large {font-size: $font-l;}

#first-nav {
background-color: $nav-color;
padding-bottom: .5%;
width: 100%;
overflow: hidden;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
position:fixed;
top: -15px;
left: 0;
justify-content: center;
z-index: 1;
box-shadow: 0 0 3px $body-color;
@include mappy-bp (max-width 767px) {display: none;}

h3:hover {color: $dark;}

.bottom {
	@include mappy-bp (max-width 767px) {
		width: 100%;
		background-size: 27%;
	}

	@include mappy-bp (max-width 453px) {background-size: 35%;}
}
}

.overlay {
line-height: 1.5em;
height: auto;
position: absolute;
padding: 1vw;
min-height: 15%;
bottom: 1.2vw;
left: 1vw;
right: 1vw;
border-radius: 0 0 25px 25px;
opacity: 0;
transition: .5s ease;
background-color: $body-color;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

@include mappy-bp (max-width 767px) {
	left: 0;
	right: 0;
}
}

.image-container {
	color: $light;
	position: relative;

a {text-decoration: underline;}
&:hover .overlay {opacity: 1;}
}

.menu-images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header {
	display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
	}

#header-text {
	font-weight: 700;
	text-align: center;
	font-size: 60px;
	height: auto;
	width: 100%;
	margin: 2.5% auto;

	p {
		font-weight: 100;
		font-size: 30px; 
		margin-top:1%;
	}

	@include mappy-bp (max-width 1260px) {font-size: 50px;}
	@include mappy-bp (max-width 1023px) {font-size: 40px;}
	@include mappy-bp (max-width 453px) {font-size: 30px;}
}

h1 {
	font-family: 'Inspiration', cursive; 
	font-size: 200%;
	text-shadow: 0 0 1px white;

	@include mappy-bp (max-width 1260px) {
		text-align: center;
		vertical-align: middle;
}
}

#menu {
	padding: $padding-m;
	text-align: center;

img { 
	margin: 1vw;
	border-radius: $padding-m;

	&:hover {box-shadow: 0 0 5px $body-color;}
	@include mappy-bp (max-width 1260px) {width: 400px;}
	@include mappy-bp (max-width 767px) {
		width: 100%;
		display: block;
		margin: 2vw 0;
	}

	@include mappy-bp (max-width 453px) {margin: 1vw 0;}
}
}

#works {	
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	@include mappy-bp (max-width 453px) {
		flex-direction: column;
		row-gap: 10px;
	}
		}

.bottom {
			cursor: pointer;
			width: 33%;
			height: 85px;
			text-align: center;
			position: relative;
			background-image: url(../images/podloga12.svg);
			background-repeat: no-repeat;
			background-size: auto;
			background-position: bottom;

			@include mappy-bp (max-width 767px) {
				background-size: 70%;
				margin-left: auto;
				margin-right: auto;
			}

			@include mappy-bp (max-width 453px) {
				width: 100%;
				background-size: 35%;
			}
h3 {
				margin: 0;
				position: absolute;
				top: 47%;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);
				@include mappy-bp (max-width 767px) {top: 40%;}
	}
&:hover { 
		animation: shake 0.6s infinite;
		animation-timing-function: linear; color: $light;  
}
} 

@keyframes shake {
  0% { transform: rotate(0.5deg); }
   25% { transform: rotate(1.5deg); }
  50% { transform: rotate(-1.5deg); }
   75% { transform: rotate(-2.5deg); }
  100% { transform: rotate(-1.5deg); }
}

a {
	color: $dark;
	text-decoration: none;
}
	
.deco-image {
			width: 100%;
			display: inline-flex;
		@include mappy-bp (max-width 767px) {
			clear: both;
			align-content: center;
		}
img {
			width: 80%;
			margin: auto auto;

		@include mappy-bp (max-width 1260px) {width:100%;}
}		
}

#aboutsidebar-parts {padding-top: 10%;}

#aboutsidebar-parts img {
			float: right;
			border-radius: 50%;
			width: 25%;
			@include mappy-bp (max-width 767px) {width:30%;}
		}

footer {
	margin-top: $padding-m;
	background-color: $nav-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15vh;
	overflow: hidden;
	text-align: center;
		}

h2 { 
	color: $h2-color;
	font-weight: 600;
}	
 
.sidebar-parts {
	@include mappy-bp (max-width 1023px) {
		float: none;
		width: 100%;
			}

	@include mappy-bp (max-width 453px){padding-bottom: $padding-m;}
}

.container {
	@include mappy-bp (max-width 767px) {
		background-color: $nav-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 6px;
		border-radius: 50px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		margin: 1%;
		position: fixed;
		right: $padding-m;
		z-index: 2;
	}
}

	.bar1, .bar2, .bar3 {
		@include mappy-bp (max-width 767px) {
			width: 35px;
			height: 5px;
			border-radius: 50px;
			background-color: #78AB46;
			border: 1px solid $dark;
			transition: 0.4s;
		}
	}

	.change .bar1 {
			@include mappy-bp (max-width 767px) {
			-webkit-transform: rotate(-45deg) translate(-9px, 6px);
			transform: rotate(-45deg) translate(-12px, 6px);
		}
	}

	.change .bar2 {
			@include mappy-bp (max-width 767px) {opacity: 0;}
	}
	
	.change .bar3 {
			@include mappy-bp (max-width 767px) {
			-webkit-transform: rotate(45deg) translate(-8px, -8px);
			transform: rotate(45deg) translate(-9px, -8px);	
			}
	}

	#first-nav.visible {
			@include mappy-bp (max-width 767px) {
				background-color: $nav-color;
				height: 100vh;
				flex-direction: column;
				row-gap: 40px;
				position: fixed;
				top: 0;
				z-index: 1;
				width: 90%;
				justify-content: center;
				display: flex;
				left: 5%;
				align-items: center;
				align-content: center;
	
				h3:hover {color:#000;}
			}
	}

#sidebar {
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin: $padding-m auto;
	background-color: $nav-color;
	overflow-wrap: anywhere;
	height: auto;
	border-radius: 0 150px 150px 0;
	padding: 0 $padding-m 0;
	overflow: hidden;

	a {text-decoration: underline;}

	#work-explained {
				padding-bottom: $padding-m * 2;
				text-align: start;
			}

	@include mappy-bp (max-width 453px) {padding: 10% $padding-m;}
	@include mappy-bp (max-width 300px) {padding: 36% $padding-m;}
}

.fancybox-title-over-wrap {
	@include mappy-bp (max-width 767px) {
		width: 100%;
		padding: 0;
	}

	& > div {
		@include mappy-bp (max-width 767px) {padding:10px;}
	}
}