body {
  background-color: #6D9267; }

#wrraper {
  font-family: "Dekko", cursive;
  color: #000;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #d1e4bd; }
  @media all and (max-width: 28.25em) {
    #wrraper {
      width: 94%; } }

.text-medium {
  font-size: 30px; }

.text-large {
  font-size: 40px; }

#first-nav {
  background: linear-gradient(0deg, #ebdcb7 2%, #fffaee 53%);
  transition: all ease .3s;
  padding-bottom: 1%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: -15px;
  left: 0;
  justify-content: center;
  z-index: 1; }
  @media all and (max-width: 47.875em) {
    #first-nav {
      display: none; } }
  #first-nav .bottom {
    cursor: pointer;
    width: 33%;
    height: 85px;
    text-align: center;
    position: relative;
    background-image: url(../images/podloga12.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom; }
    @media all and (max-width: 47.875em) {
      #first-nav .bottom {
        width: 100%;
        background-size: 27%; } }
    @media all and (max-width: 28.25em) {
      #first-nav .bottom {
        background-size: 35%; } }
    #first-nav .bottom h3 {
      margin: 0;
      position: absolute;
      top: 47%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      @media all and (max-width: 47.875em) {
        #first-nav .bottom h3 {
          top: 40%; } }
    #first-nav .bottom:hover {
      animation: shake 0.6s infinite;
      animation-timing-function: linear;
      color: #835531; }

.active {
  background: #fffaee !important; }

.overlay {
  line-height: 1.5em;
  color: #835531;
  height: auto;
  position: absolute;
  padding: 1vw;
  min-height: 15%;
  bottom: 1.2vw;
  left: 1vw;
  right: 1vw;
  border-radius: 0 0 25px 25px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fffaee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 47.875em) {
    .overlay {
      display: none; } }

.image-container {
  color: #fff;
  position: relative; }
  @media all and (max-width: 47.875em) {
    .image-container {
      color: #835531;
      position: relative;
      border: 2px solid #835531;
      width: 100%;
      border-radius: 50px;
      margin: 1%;
      background: #fffaee;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .image-container .text-under-image {
    display: none; }
    @media all and (max-width: 47.875em) {
      .image-container .text-under-image {
        display: flex;
        color: #835531;
        align-self: center;
        line-height: 1.5em;
        padding: 2vw;
        flex-direction: column; } }
  .image-container a {
    text-decoration: underline; }
  .image-container:hover .overlay {
    opacity: 1; }
    @media all and (max-width: 47.875em) {
      .image-container:hover .overlay {
        display: none; } }

.menu-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

header {
  background: linear-gradient(0deg, #d1e4bd 11%, #ebdcb7 80%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center; }

#header-text {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  height: auto;
  width: 100%;
  margin: 2.5% auto; }
  #header-text p {
    font-weight: 100;
    font-size: 30px;
    margin-top: 1%; }
  @media all and (max-width: 78.6875em) {
    #header-text {
      font-size: 50px; } }
  @media all and (max-width: 63.875em) {
    #header-text {
      font-size: 40px; } }
  @media all and (max-width: 28.25em) {
    #header-text {
      font-size: 30px; } }

h1 {
  font-family: 'Inspiration', cursive;
  font-size: 200%;
  text-shadow: 0 0 1px white; }
  @media all and (max-width: 78.6875em) {
    h1 {
      text-align: center;
      vertical-align: middle; } }

#menu {
  padding: 5%;
  text-align: center; }
  #menu img {
    margin: 1vw;
    border-radius: 5%; }
    #menu img:hover {
      box-shadow: 0 0 5px #835531; }
    @media all and (max-width: 78.6875em) {
      #menu img {
        width: 400px; } }
    @media all and (max-width: 47.875em) {
      #menu img {
        border: none;
        border-radius: 48px;
        width: 100%;
        display: block;
        margin: 0 0 2vw 0; } }
    @media all and (max-width: 28.25em) {
      #menu img {
        margin: 0 0 1vw 0; } }

#works {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  #works .bottom {
    cursor: pointer;
    width: auto;
    position: relative;
    display: flex;
    border: 1px solid #835531;
    background: #fffaee;
    color: #835531;
    justify-content: center;
    padding: 1em;
    border-radius: 50px;
    margin: 2px;
    align-items: center;
    align-content: center; }
    #works .bottom:hover {
      color: #6D9267; }
    @media all and (max-width: 47.875em) {
      #works .bottom {
        background-size: 70%;
        margin-left: auto;
        margin-right: auto; } }

@keyframes shake {
  0% {
    transform: rotate(0.5deg); }
  25% {
    transform: rotate(1.5deg); }
  50% {
    transform: rotate(-1.5deg); }
  75% {
    transform: rotate(-2.5deg); }
  100% {
    transform: rotate(-1.5deg); } }

a {
  color: #835531;
  text-decoration: none; }

.deco-image {
  width: 100%;
  display: inline-flex; }
  @media all and (max-width: 47.875em) {
    .deco-image {
      clear: both;
      align-content: center; } }
  .deco-image img {
    width: 80%;
    margin: auto auto; }
    @media all and (max-width: 78.6875em) {
      .deco-image img {
        width: 100%; } }

#aboutsidebar-parts {
  padding-top: 10%; }

#aboutsidebar-parts img {
  float: right;
  border-radius: 50%;
  width: 25%; }
  @media all and (max-width: 47.875em) {
    #aboutsidebar-parts img {
      width: 30%; } }

footer {
  margin-top: 5%;
  background: linear-gradient(180deg, #d1e4bd 0%, #fffaee 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  text-align: center; }

h2 {
  color: #33691e;
  font-weight: 600; }

@media all and (max-width: 63.875em) {
  .sidebar-parts {
    float: none;
    width: 100%; } }

@media all and (max-width: 28.25em) {
  .sidebar-parts {
    padding-bottom: 5%; } }

@media all and (max-width: 47.875em) {
  .container {
    background-color: #fffaee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 1%;
    position: fixed;
    right: 5%;
    z-index: 2; } }

@media all and (max-width: 47.875em) {
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 50px;
    background-color: #78AB46;
    border: 1px solid #000;
    transition: 0.4s; } }

@media all and (max-width: 47.875em) {
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-12px, 6px); } }

@media all and (max-width: 47.875em) {
  .change .bar2 {
    opacity: 0; } }

@media all and (max-width: 47.875em) {
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px); } }

@media all and (max-width: 47.875em) {
  .visible {
    background-color: #fffaee;
    height: 100vh;
    flex-direction: column;
    row-gap: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 90%;
    justify-content: center;
    display: flex !important;
    left: 5%;
    align-items: center;
    align-content: center; }
    .visible h3:hover {
      color: #000; } }

#sidebar {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 5% auto;
  background: linear-gradient(180deg, #d1e4bd 11%, #fffaee 80%);
  overflow-wrap: anywhere;
  height: auto;
  border-radius: 0 150px 150px 0;
  padding: 0 5% 0;
  overflow: hidden; }
  #sidebar a {
    text-decoration: underline; }
  #sidebar #work-explained {
    padding-bottom: 10%;
    text-align: start; }
  @media all and (max-width: 28.25em) {
    #sidebar {
      padding: 10% 5%; } }
  @media all and (max-width: 18.6875em) {
    #sidebar {
      padding: 36% 5%; } }

@media all and (max-width: 47.875em) {
  .fancybox-title-over-wrap {
    width: 100%;
    padding: 0; } }

@media all and (max-width: 47.875em) {
  .fancybox-title-over-wrap > div {
    padding: 10px; } }

.social-media-icons {
  font-size: 16px;
  padding: 1vw;
  background: #fffaee;
  border-radius: 25px;
  position: fixed;
  top: 50vh;
  right: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 47.875em) {
    .social-media-icons {
      margin: 4vw auto;
      position: inherit;
      flex-direction: row;
      width: fit-content; } }

.social-icon {
  font-weight: 600;
  writing-mode: horizontal-tb;
  color: #fff;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 47.875em) {
    .social-icon {
      margin: 0 1vw; } }

.linkedin {
  background: #597dbb; }
  .linkedin:hover {
    background: #0040ad; }

#menu {
  text-align: center;
  padding: 5% 5% 0 5%; }

.first-image {
  padding-top: 5em;
  background: linear-gradient(180deg, #ebdcb7 16%, #d1e4bd 81%); }
  @media all and (max-width: 63.875em) {
    .first-image {
      padding-top: 15%; } }
  @media all and (max-width: 28.25em) {
    .first-image {
      padding-top: 2em; } }

label {
  margin: 1vw 0; }
  @media all and (max-width: 47.875em) {
    label {
      width: 100%; } }

input, textarea {
  color: #000;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 30vw;
  font-family: inherit;
  font-size: inherit; }
  @media all and (max-width: 78.6875em) {
    input, textarea {
      width: 60%; } }
  @media all and (max-width: 47.875em) {
    input, textarea {
      width: 80%; } }

input {
  height: auto;
  text-align: center; }

form p {
  margin: 1vw 0; }
  @media all and (max-width: 28.25em) {
    form p {
      margin: 4vw 0; } }

#submit {
  margin: 1vw 0;
  font-family: "Dekko", cursive;
  background-color: #fffaee;
  color: #835531;
  border: 1px solid #835531;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto; }
  #submit:hover {
    color: #6D9267; }

@media all and (max-width: 47.875em) {
  #contact1 {
    text-align: center;
    align-content: center; } }

.form-message {
  width: 30vw;
  font-family: inherit;
  font-size: inherit;
  margin: 1vw 0;
  height: 40px; }
  @media all and (max-width: 78.6875em) {
    .form-message {
      width: 60%; } }
  @media all and (max-width: 47.875em) {
    .form-message {
      width: 80%; } }
