body {
  background-color: #6D9267; }

#wrraper {
  width: 90%;
  font-family: "Dekko", cursive;
  color: #000;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #d1e4bd; }
  @media all and (max-width: 28.25em) {
    #wrraper {
      width: 94%; } }

.text-medium {
  font-size: 30px; }

.text-large {
  font-size: 40px; }

#first-nav {
  background-color: #fffaee;
  padding-bottom: .5%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: -15px;
  left: 0;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 0 3px #6D9267; }
  @media all and (max-width: 47.875em) {
    #first-nav {
      display: none; } }
  #first-nav h3:hover {
    color: #000; }
  @media all and (max-width: 47.875em) {
    #first-nav .bottom {
      width: 100%;
      background-size: 27%; } }
  @media all and (max-width: 28.25em) {
    #first-nav .bottom {
      background-size: 35%; } }

.overlay {
  line-height: 1.5em;
  height: auto;
  position: absolute;
  padding: 1vw;
  min-height: 15%;
  bottom: 1.2vw;
  left: 1vw;
  right: 1vw;
  border-radius: 0 0 25px 25px;
  opacity: 0;
  transition: .5s ease;
  background-color: #6D9267;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 47.875em) {
    .overlay {
      left: 0;
      right: 0; } }

.image-container {
  color: #fff;
  position: relative; }
  .image-container a {
    text-decoration: underline; }
  .image-container:hover .overlay {
    opacity: 1; }

.menu-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center; }

#header-text {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  height: auto;
  width: 100%;
  margin: 2.5% auto; }
  #header-text p {
    font-weight: 100;
    font-size: 30px;
    margin-top: 1%; }
  @media all and (max-width: 78.6875em) {
    #header-text {
      font-size: 50px; } }
  @media all and (max-width: 63.875em) {
    #header-text {
      font-size: 40px; } }
  @media all and (max-width: 28.25em) {
    #header-text {
      font-size: 30px; } }

h1 {
  font-family: 'Inspiration', cursive;
  font-size: 200%;
  text-shadow: 0 0 1px white; }
  @media all and (max-width: 78.6875em) {
    h1 {
      text-align: center;
      vertical-align: middle; } }

#menu {
  padding: 5%;
  text-align: center; }
  #menu img {
    margin: 1vw;
    border-radius: 5%; }
    #menu img:hover {
      box-shadow: 0 0 5px #6D9267; }
    @media all and (max-width: 78.6875em) {
      #menu img {
        width: 400px; } }
    @media all and (max-width: 47.875em) {
      #menu img {
        width: 100%;
        display: block;
        margin: 2vw 0; } }
    @media all and (max-width: 28.25em) {
      #menu img {
        margin: 1vw 0; } }

#works {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  @media all and (max-width: 28.25em) {
    #works {
      flex-direction: column;
      row-gap: 10px; } }

.bottom {
  cursor: pointer;
  width: 33%;
  height: 85px;
  text-align: center;
  position: relative;
  background-image: url(../images/podloga12.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom; }
  @media all and (max-width: 47.875em) {
    .bottom {
      background-size: 70%;
      margin-left: auto;
      margin-right: auto; } }
  @media all and (max-width: 28.25em) {
    .bottom {
      width: 100%;
      background-size: 35%; } }
  .bottom h3 {
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
    @media all and (max-width: 47.875em) {
      .bottom h3 {
        top: 40%; } }
  .bottom:hover {
    animation: shake 0.6s infinite;
    animation-timing-function: linear;
    color: #fff; }

@keyframes shake {
  0% {
    transform: rotate(0.5deg); }
  25% {
    transform: rotate(1.5deg); }
  50% {
    transform: rotate(-1.5deg); }
  75% {
    transform: rotate(-2.5deg); }
  100% {
    transform: rotate(-1.5deg); } }

a {
  color: #000;
  text-decoration: none; }

.deco-image {
  width: 100%;
  display: inline-flex; }
  @media all and (max-width: 47.875em) {
    .deco-image {
      clear: both;
      align-content: center; } }
  .deco-image img {
    width: 80%;
    margin: auto auto; }
    @media all and (max-width: 78.6875em) {
      .deco-image img {
        width: 100%; } }

#aboutsidebar-parts {
  padding-top: 10%; }

#aboutsidebar-parts img {
  float: right;
  border-radius: 50%;
  width: 25%; }
  @media all and (max-width: 47.875em) {
    #aboutsidebar-parts img {
      width: 30%; } }

footer {
  margin-top: 5%;
  background-color: #fffaee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  text-align: center; }

h2 {
  color: #33691e;
  font-weight: 600; }

@media all and (max-width: 63.875em) {
  .sidebar-parts {
    float: none;
    width: 100%; } }

@media all and (max-width: 28.25em) {
  .sidebar-parts {
    padding-bottom: 5%; } }

@media all and (max-width: 47.875em) {
  .container {
    background-color: #fffaee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 1%;
    position: fixed;
    right: 5%;
    z-index: 2; } }

@media all and (max-width: 47.875em) {
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 50px;
    background-color: #78AB46;
    border: 1px solid #000;
    transition: 0.4s; } }

@media all and (max-width: 47.875em) {
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-12px, 6px); } }

@media all and (max-width: 47.875em) {
  .change .bar2 {
    opacity: 0; } }

@media all and (max-width: 47.875em) {
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px); } }

@media all and (max-width: 47.875em) {
  #first-nav.visible {
    background-color: #fffaee;
    height: 100vh;
    flex-direction: column;
    row-gap: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 90%;
    justify-content: center;
    display: flex;
    left: 5%;
    align-items: center;
    align-content: center; }
    #first-nav.visible h3:hover {
      color: #000; } }

#sidebar {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 5% auto;
  background-color: #fffaee;
  overflow-wrap: anywhere;
  height: auto;
  border-radius: 0 150px 150px 0;
  padding: 0 5% 0;
  overflow: hidden; }
  #sidebar a {
    text-decoration: underline; }
  #sidebar #work-explained {
    padding-bottom: 10%;
    text-align: start; }
  @media all and (max-width: 28.25em) {
    #sidebar {
      padding: 10% 5%; } }
  @media all and (max-width: 18.6875em) {
    #sidebar {
      padding: 36% 5%; } }

@media all and (max-width: 47.875em) {
  .fancybox-title-over-wrap {
    width: 100%;
    padding: 0; } }

@media all and (max-width: 47.875em) {
  .fancybox-title-over-wrap > div {
    padding: 10px; } }
